<h1>Sign Up</h1>

<div class="btn-action-sub">
    <div class="gust-btn" onclick="submit('guest')">
        Login as Guest
    </div>
</div>

<div class="or">
    <span class="l"></span>
    <span>or</span>
    <span class="l"></span>
</div>

<div class="errdisp" id="error_disp" style="display: none;">

</div>

<input type="text" name="" placeholder="email" id="email_input">
<input type="password" name="" placeholder="password" id="password_input">
<input type="password" name="" placeholder="conform" id="password_input_cnf">

<button class="sub" onclick="submit('signup')">Sign Up</button>

<p>Not a user <strong class="signup-btn" onclick="window.location.href='<%=base_url%>/login'">Login now</strong></p>