<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You did it</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        *{
            padding: 0;
            margin: 0;
            outline: 0;
            font-family: 'Poppins', sans-serif;
        }
        html{
            height: 100%;
        }
        body{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        button{
            padding: 10px 20px;
            margin-top: 20px;
            background-color: rgb(96, 96, 255);
            border: none;
            border-radius: 3px;
            color:white;
            font-size:small;
            cursor: pointer;
        }
    </style>
    <h1>Mission completed</h1>
    <button onclick="window.location.href='<%=base_url%>/'">Go back to home</button>
</body>
</html>